/* --- GENERAL --- */

* {
    text-decoration: none;
    font-family: "Helvetica";
}

body {
    background: radial-gradient(circle, #e9c949 0%, #ddbf7a 80%, #d4c49d 100%);
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-weight: bold;
    font-size: 2em;    
}

input {
    border: none;
    border-radius: 17px;
    padding: 8px 15px;
    color: #724907;
}
::placeholder {
    color: #724907;
}

/* --- ACCOUNT --- */

.general-box {
    height: 75%;
    box-shadow: #724907 0px 0px 80px 10px;
}

#left-box {
    border-radius: 20px 0px 0px 20px;    
    background-color: #724907;
}

#right-box {
    border-radius: 0px 20px 20px 0px;
    background-color: #e6b909;
}

#big-title {
    font-size: 45px;
}

.change-button {
    font-weight: bold;
    font-family: "Helvetica";
    border: none;
    padding: 7px 30px;
}

.submit-button {
    background-color: #724907;
    color: white;
    font-weight: bold;
    font-family: "Helvetica";
    border: none;
    padding: 12px 35px;
}