/* ---------- GENERAL ---------- */

* {
    font-family: sans-serif;
}

.h-50 {
    height: 50px !important;
}

.h-40 {
    height: 40px;
}

body {
    background-color: #f6fded;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

.submit-button {
    font-family: sans-serif;
    border: none;
    background-color: #435724;
    color: white;
    width: 8em !important;
    height: 2.5em;
}

hr {
    margin: 0em 1.5em;
}

.div-content {
    margin-top: 5em;
}

.gray-text {
    color: #5e5e5e;
}

/* ---------- BARRA DE NAVEGACIÓN ---------- */

#nav-bar {
    background-color: #354919;
    padding: 10px;
    padding-bottom: 12px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}

/* --- NAVEGACIÓN PÁGINAS --- */
#list-nav {
    justify-content: space-between;
    list-style-type: none;
    margin: auto 1em;
    width: 30em;
}

#list-nav a {
    color: white;
}

#list-nav a:hover {
    color: #bed4a4;
}

/* --- PERFIL --- */
#div-end {
    margin-left: auto;
}

#div-end a {
    padding: 0em 0.5em;
}

#logout-pic {
    filter: invert();
}

#logout-pic:hover {
    filter: invert() brightness(77%);
}

/* ---------- FOOTER ---------- */

#footer {
    background-color: #111807;
    margin-top: auto;
    color: #5d7c35;
}

#footer h3 {
    font-size: 0.8em;
    margin: 0em;
    color: #acb4a0;
    font-weight: bold;
}

#footer a {
    color: #5d7c35;
}

#footer a:hover {
    color: #89aa5d;
}

#footer p {
    font-size: 0.8em;
    margin: 0em;
}

.list-footer {
    list-style-type: none;
}

.list-footer li {
    margin: 0.4em;
}

/* --- CONTACTO --- */
#sub-list li {
    list-style-type: disc;
    margin: 0em;
}

/* --- RRSS --- */
#rrss a {
    display: flex;
    align-items: center;
    margin: 0.2em;
}

#rrss p {
    padding: 0em 0.5em;
}