<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
    <!-- Importar CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/error.css">    
</head>

<body>
    <!-- Principal -->
    <div class="col-8 offset-2 d-flex align-items-center vh-100">
        <div id="error-box" class="d-flex flex-column text-center h-75 w-100">
            <div class="align-self-start mt-5 ms-5">
                <img src="/img/branding/logo.png" alt="Logo SunEra" width="110">
            </div>            
            <h1><%= error.code %></h1>
            <h2><%- error.title %></h2>
            <p><%= error.message %></p>
            <!-- Botón para volver atrás -->
            <button id="back-button" onclick="history.back()" class="d-flex align-items-center justify-content-center rounded-pill pe-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                </svg>
                Ir atrás
            </button>
        </div>
    </div>
</body>

</html>