body {
    background-image: url(/img/background.png);
    backdrop-filter: blur(15px);
    background-size: cover;
    color: white;
}

#error-box {
    box-shadow: #8bac5a 0px 0px 50px 10px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #f6fded;
}

h1 {
    font-size: 10em;
    color: #4e6e1a;
}

h2 {
    font-size: 3em;
    color: #2a3a13;
}

p {
    font-size: 1.3em;
    color: #2a3a13;
}

#back-button {
    border: none;
    background-color: #4e6e1a;
    color: white;
    width: 7em !important;
    height: 3em;
    margin: 2em auto;
}