/* ------------- MODAL INFO ------------- */

.modal-content {
    background-color: #f6fded;
    color: #2a3a13;
}

.modal-content h1 {
    font-size: 1.5em;
    color: white;
}

.modal-header {
    background-color: #2a3a13;
}

.btn-close {
    background: none;
    height: auto;
}

.ok-button {
    font-family: sans-serif;
    border: none;
    height: 2.5em;
    width: 5em !important;
    background-color: #435724;
    color: white;
}