/* ---------- EDITAR PERFIL ---------- */

#box-user {
    margin-top: 5em;
}

#profile {
    background-color: #d2e2bf;
    border-radius: 20px;
    margin: 2em 2em;
    box-shadow: 2px 2px 10px 1px #687c49;
}

#profile h2 {
    color: #2a3a13;
}

#profile label {
    color: #2a3a13;
    font-size: 0.9em;
    margin-top: 0.5em;
}

#profile input {
    border-radius: 7px;
    border: none;
    padding: 0.2em 0.3em;
    margin-top: 0.2em;
}

.form-profile {
    display: flex;
    flex-direction: column;
    margin: 1.5em 1.7em;
}

/* ---------- RESERVAS ---------- */

.reservation {
    box-shadow: 2px 2px 10px 1px #687c49;
    background-color: #d2e2bf;
}

#separator {
    border-top: 0.2em dashed;
    margin: auto;
}

/* --- ACCORDION RESERVA --- */
.accordion-img {
    height: 4em;
    width: 7em;
    object-fit: cover;
}

.accordion-button {
    color: #3a1338;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
}

/* - ACTUALES - */
.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    color: #2a3a13;
}

.cancel-button {
    font-family: sans-serif;
    border: none;
    color: white;
    height: 2.5em;
    margin-left: auto;
    width: 12em !important;
    background-color: #922c2c;
}

/* - MODAL - */
.modal-content {
    background-color: #f6fded;
}

.modal-footer button {
    width: 5em !important;
}

.modal-header {
    background-color: #2a3a13;
}

.btn-close {
    background: none;
    height: auto;
}

/* - PASADAS - */
.old {
    background-color: #dddddd;
}

.old.accordion-button:not(.collapsed) {
    background-color: #dddddd !important;
}

.comment-button {
    font-family: sans-serif;
    border: none;
    background-color: #435724;
    color: white;
    width: 12em !important;
    height: 2.5em;
}

/* ---------- RESPONSIVE ---------- */
@media (min-width: 1200px) {
    .form-profile {
        margin: 1.5em 2.5em;
    }
}